    <h1>Clientes</h1>
    <input type="button" ng-click="mostrarForm=!mostrarForm" value="Novo cliente" class="btn" />
    <form class="well" ng-show="mostrarForm" ng-init="mostrarForm=false">
        Nome: <input type="text" ng-model="novo.nome" /><br>
        CPF/CNPJ: <input type="text" ng-model="novo.cpf_cnpj" /><br>
		Email: <input type="email" ng-model="novo.email" /><br>
        Observações: <input type="text" ng-model="novo.observacoes" /><br>
        <input type="button" ng-click="novoCliente()" value="Salvar" class="btn" />
    </form>
    <div class="alert alert-info" ng-hide="clientes.length>0">Nenhum cliente cadastrado.</div>
    <table class="table table-condensed" ng-show="clientes.length>0">
      <tr ng-repeat="cliente in clientes">
            <td>{{cliente.nome}}</td>
            <td>{{cliente.cpf_cnpj}}</td>
			 <td>{{cliente.email}}</td>
            <td>{{cliente.observacoes}}</td>
            <td><a href="#/cliente/{{cliente.id}}" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-edit"></i></a> <button ng-click="removeCliente(cliente)" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i></button></td>
      </tr>
    </table>