<h1>Editar Ordem de Serviço</h1>
    <form class="well">

        Abertura: <input type="date" ng-model="novaordem.data_abertura" /><br>
		Finalizado: <input type="date" ng-model="novaordem.data_finalizado" /><br>
		Valor: <input type="text" ng-model="novaordem.valor" /><br>
		Contato: <input type="text" ng-model="novaordem.contato_id" /><br>
		Cliente <input type="text" ng-model="novaordem.cliente_id" /><br>

        <input type="button" ng-click="salvarOrdem()" value="Salvar" class="btn" />

    </form>